@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 box-border bg-primary-color text-white;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  @apply hidden w-0 h-0;
}

input[type="search"]::-ms-reveal {
  @apply hidden w-0 h-0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  @apply hidden;
}

::-webkit-scrollbar {
  @apply w-[2px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#2C2C2C] rounded;
}

select {
  appearance: none;
}

/* remove the dropdown arrow */
select::-ms-expand {
  @apply hidden;
}

/* for browsers that support the `appearance` property */
select.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
