@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 box-border bg-primary-color text-white;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-webkit-scrollbar {
  @apply w-[2px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#2C2C2C] rounded;
}
